# Allow access to files in the /raw directory
<Directory "/raw">
#    Satisfy Any
    Order allow,deny
    Allow from all
   Require all granted
</Directory>

<Files "dropboxwebhook.php">
    Satisfy Any
    Order allow,deny
    Allow from all
</Files>

RewriteEngine On

# Require Basic auth only for inst-mwm.php - others will use session-based auth.
<Files "inst-mwm.php">
    AuthName "MidwestMemories"
    AuthType Basic
    AuthUserFile .htpasswd
    Require valid-user
</Files>

# Exclude dropboxwebhook.php from rewriting
RewriteCond %{REQUEST_URI} ^/dropboxwebhook\.php$ [NC]
RewriteRule ^ - [L]

# Skip existing files or directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Rewrite /api/vX.Y/anything to /api.php?apiversion=vX.Y&path=anything
RewriteCond %{REQUEST_URI} ^/api/v([0-9\.]+)/(.+)$ [NC]
RewriteRule ^api/v([0-9.]+)/(.*)$ api.php?apiversion=v%1&path=%2 [QSA,L]

# Rewrite everything else to index.php with path=
RewriteRule ^(.*)$ index.php?path=/$1 [QSA,L]
