AuthName "MidwestMemories"
AuthType Basic
AuthUserFile .htpasswd
Require valid-user

<Files "dropboxwebhook.php">
    Satisfy Any
    Order allow,deny
    Allow from all
</Files>

<Files "inlineTest.php">
    Satisfy Any
    Order allow,deny
    Allow from all
</Files>

RewriteEngine On

# Exclude dropboxwebhook.php from rewriting
RewriteCond %{REQUEST_URI} ^/dropboxwebhook\.php$ [NC]
RewriteRule ^ - [L]
# Exclude dropboxwebhook.php from rewriting
RewriteCond %{REQUEST_URI} ^/inlineTest\.php$ [NC]
RewriteRule ^ - [L]

# Redirect index.php?path=/... to clean /... URL
#RewriteCond %{THE_REQUEST} \s/+index\.php\?path=([^\s&]+) [NC]
#RewriteRule ^index\.php$ /%1? [R=301,L]

# Skip existing files or directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Rewrite everything else to index.php with path=
RewriteRule ^(.*)$ index.php?path=/$1 [QSA,L]
